body{
margin:0;
font-family: "Georgia", serif;
background:#f5efe6;
color:#111;
}

nav{
display:flex;
justify-content:space-between;
padding:25px 50px;
background:#111;
color:#d4af37;
font-style:italic;
letter-spacing:2px;
}

nav a{
color:white;
text-decoration:none;
margin:0 10px;
font-style:italic;
}

.hero{
height:80vh;
background:url("https://images.unsplash.com/photo-1526170375885-4d8ecf77b99f") center/cover;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:white;
font-size:48px;
font-style:italic;
text-shadow:0 5px 20px rgba(0,0,0,0.6);
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
gap:25px;
padding:50px;
}

.card{
background:white;
border-radius:18px;
overflow:hidden;
box-shadow:0 15px 30px rgba(0,0,0,0.1);
transition:0.4s;
}

.card:hover{
transform:translateY(-10px);
}

.card img{
width:100%;
height:260px;
object-fit:cover;
}

.card-content{
padding:18px;
font-style:italic;
}

.brand{
color:#b08d57;
font-weight:bold;
}

button{
background:#b08d57;
color:white;
border:none;
padding:12px;
width:100%;
border-radius:10px;
font-style:italic;
cursor:pointer;
}

button:hover{
background:#8c6f3e;
}

footer{
background:#111;
color:white;
text-align:center;
padding:50px;
font-style:italic;
}
